<div class="wrap">
  <% @issues.each do |repo_list| %>
    <table class='m-2'>
      <tr><th class='border bg-yellow-300 px-4 text-left py-2'><a href='<%= repo_list.url %>'><%= repo_list.repo %></a></th></tr>
      <% repo_list.issues.each do |issue| %>
        <tr><td class='border px-4 py-2'><%= issue.title %></td></tr>
      <% end %>
    </table>
  <% end %>
</div>
