<!DOCTYPE html>
<html lang="en" class="text-gray-900 leading-tight">
  <head>
    <meta charset="utf-8">
    <title>Issues Dashboard</title>
    <link rel="stylesheet" href="assets/application.css">
  </head>

  <body class="font-sans">
    <div class='p-4'>
      <h1 class='text-4xl mb-4'>Issues Dashboard</h1>
      <ul class='flex mb-4'>
        <li class='mr-6'><a class='text-white px-4 py-2 rounded bg-blue-400 hover:bg-blue-500' href='/'>Issues</a></li>
        <li class='mr-6'><a class='text-white px-4 py-2 rounded bg-blue-400 hover:bg-blue-500' href='/wip'>WIP</a></li>
        <li class='mr-6'><a class='text-white px-4 py-2 rounded bg-blue-400 hover:bg-blue-500' href='/archived'>Archived</a></li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
