<!DOCTYPE html>
<html lang="en" class="text-gray-900 leading-tight">
  <head>
    <meta charset="utf-8">
    <title>Issues Dashboard</title>
    <link rel="stylesheet" href="assets/application.css">
  </head>

  <body class="font-sans">
    <div class='p-4'>
      <h1 class='text-4xl mb-4'>Issues Dashboard</h1>
      <%= yield %>
    </div>
  </body>
</html>
