<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Issues Dashboard</title>
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <h1>Issues Dashboard</h1>
    <%= yield %>
  </body>
</html>
