body {
  background: #aaa;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

table td, table th {
  border: 1px solid #ccc;
}

table {
  margin-bottom: 10px;
  width: 200px;
  float: left;
  clear: both;
}
