@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --green1: #88B588;
  --green2: #587558;
  --green3: #B8F5B8;
  --green4: #283628;
  --green5: #A4DBA4;
}

a {
  color: var(--green4);
  text-decoration: none;
}

body {
  background-color: var(--green1);
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

table th {
  padding: 10px 0;
}

table td {
  border: 1px solid var(--green5);
}

table {
  margin-bottom: 10px;
  width: 200px;
  float: left;
  clear: both;
}
